@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Share+Tech+Mono&family=Shizuru&display=swap');
.shizuru-regular {
    font-family: "Shizuru", serif;
    font-weight: 400;
    font-style: normal;
  }

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

$font1: Share Tech Mono;
$font2: Shizuru;
$font3: Inter;
$textColor: #d9d9d9;
$backgroundColor: #070605;
$primaryColor: #9500C2;
$accentColor: #caacf8;
$secondaryColor: #53003A;
$gradientColor: linear-gradient(180deg, #9500C2 100%, #53003A 100%);
