@font-face {
    font-family: "Jua-Regular";
    src: url(/fonts/Jua-Regular.ttf) format("truetype");
}
@font-face{ 
    font-family: "lazy Dog-Regular";
    src: url(/fonts/lazy_dog.ttf) format("truetype");
}

.wireframe {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .wireframe .div {
    background-color: #000000;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .wireframe .overlap {
    position: absolute;
    width: 1302px;
    height: 379px;
    top: 27px;
    left: 94px;
  }
  
  .wireframe .overlap-group {
    position: absolute;
    width: 733px;
    height: 379px;
    top: 0;
    left: 0;
  }
  
  .wireframe .overlap-2 {
    position: absolute;
    width: 520px;
    height: 319px;
    top: 60px;
    left: 0;
  }
  
  .wireframe .pfpbg {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 0;
    left: 0;
    background-color: #b800b0;
    border-radius: 15px;
    border: 5px solid;
    border-color: #8f00c2;
  }
  
  .wireframe .pfp {
    position: absolute;
    width: 245px;
    height: 245px;
    top: 12px;
    left: 12px;
    object-fit: cover;
    border-radius: 9px;
    
  }
  
  .wireframe .arrow {
    position: absolute;
    width: 168px;
    height: 170px;
    top: 149px;
    left: 211px;
  }
  
  .wireframe .text-wrapper {
    position: absolute;
    top: 288px;
    left: 365px;
    font-family: "Jua-Regular";
    font-weight: 400;
    color: #ffd2f2;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 492px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: #ffacec;
    font-size: 74px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .text-wrapper-3 {
    position: absolute;
    top: 195px;
    left: 548px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .i-am-spiderman {
    position: absolute;
    top: 170px;
    left: 735px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: transparent;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .span {
    color: #ffffff;
  }
  
  .wireframe .text-wrapper-4 {
    color: #ff6060;
  }
  
  .wireframe .text-wrapper-5 {
    color: #9296ff;
  }
  
  .wireframe .overlap-3 {
    position: absolute;
    width: 583px;
    height: 63px;
    top: 81px;
    left: 595px;
  }
  
  .wireframe .p {
    position: absolute;
    width: 583px;
    top: 0;
    left: 0;
    font-family: "Jua-Regular";
    font-weight: 400;
    color: #fff3d4;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .smily {
    position: absolute;
    width: 39px;
    height: 36px;
    top: 50px;
    left: 490px;
    filter: invert(1);
    filter: brightness(0) invert(1);
    
  }
  
  .wireframe .i-m-max-umm-just-a {
    position: absolute;
    width: 583px;
    top: 285px;
    left: 719px;
    font-family: "Jua-Regular";
    font-weight: 400;
    color: transparent;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-6 {
    color: #eaff00;
  }
  
  .wireframe .text-wrapper-7 {
    color: #fdffa1;
  }
  
  .wireframe .text-wrapper-8 {
    position: absolute;
    top: 491px;
    left: 94px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .text-wrapper-9 {
    position: absolute;
    top: 757px;
    left: 166px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .text-wrapper-10 {
    position: absolute;
    top: 262px;
    left: 883px;
    font-family: "Lazy Dog-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .wireframe .just-a-random-tech {
    position: absolute;
    width: 583px;
    top: 540px;
    left: 166px;
    font-family: "Jua-Regular";
    font-weight: 400;
    color: transparent;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-11 {
    color: #7c67ff;
  }
  
  .wireframe .text-wrapper-12 {
    color: #d2f059;
  }
  
  .wireframe .text-wrapper-13 {
    color: #e8a6ff;
  }
  
  .wireframe .text-wrapper-14 {
    color: #ffcf56;
  }
  
  .wireframe .text-wrapper-15 {
    color: #81b3ff;
  }
  
  .wireframe .still-reading-uh-OK {
    position: absolute;
    width: 583px;
    top: 681px;
    left: 166px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-16 {
    color: #ff9191;
  }
  
  .wireframe .text-wrapper-17 {
    position: absolute;
    width: 583px;
    top: 794px;
    left: 207px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-18 {
    position: absolute;
    width: 583px;
    top: 807px;
    left: 207px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-19 {
    position: absolute;
    width: 583px;
    top: 861px;
    left: 207px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-20 {
    position: absolute;
    width: 583px;
    top: 871px;
    left: 207px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .text-wrapper-21 {
    position: absolute;
    width: 583px;
    top: 904px;
    left: 207px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe .vector {
    top: 806px;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 195px;
    filter: invert(1);
    filter: brightness(0) invert(1);
  }
  
  .wireframe .img {
    top: 838px;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 195px;
    filter: invert(1);
    filter: brightness(0) invert(1);
  }
  
  .wireframe .vector-2 {
    top: 870px;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 195px;
    filter: invert(1);
    filter: brightness(0) invert(1);
  }
  
  .wireframe .vector-3 {
    top: 902px;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 195px;
    filter: invert(1);
    filter: brightness(0) invert(1);
  }
  
  .wireframe .vector-4 {
    top: 934px;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 195px;
    filter: invert(1);
    filter: brightness(0) invert(1);
  }
  
  .wireframe .rectangle-wrapper {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 415px;
    left: 822px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 10px solid;
    border-color: #ee00e6;
  }
  
  .wireframe .rectangle {
    position: relative;
    width: 300px;
    height: 150px;
    top: -1px;
    left: -2px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }

  .wireframe .scribble {
    width: 100%;
    height: 100%;
    cursor: crosshair;
    display: block;
  }

  .links {
    position: absolute;
    width: 583px;
    top: 600px;
    left: 900px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffd3e8;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal

  }

  .links #insta {
    background: linear-gradient(to right, #f9ce34, #ee2a7b ,#6228d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .links #linkedin {
    color: #81b3ff;
    text-decoration-line: none;

  }

    .links #github {
        color: #ffffff;
        text-decoration-line: none;
    } 

    .wireframe .scribble-here {
        position: absolute;
        width: 583px;
        top: 400px;
        left: 800px;
        font-family: "Jua-Regular", Helvetica;
        font-weight: 400;
        color: #ffd3e8;
        font-size: 22px;
        letter-spacing: 0;
        line-height: normal;
    }