@use "variables" as sassy;

@mixin buttonStyle() {
    background-color: sassy.$primaryColor;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: sassy.$font3;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    a {
        color: sassy.$textColor;
    }
    &:hover {
        background-color: transparent;
        border: 1px solid;
        border-color: sassy.$accentColor;
        font-size: 0.9rem;
    }
}

@mixin projectGrid() {
    display: grid;
    grid-template-rows:
        minmax(30px, 1fr) minmax(30px, 1fr) minmax(30px, 1fr)
        minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, 1fr);
    grid-template-columns: repeat(5, minmax(30px, 1fr));
    gap: 1rem;
    grid-template-areas:
        ".          Name            Name            .               ."
        "img        Name            Name            .               ."
        "img        Description     Description     Description     ."
        "img        Description     Description     Description     ."
        "img        Description     Description     Description     ."
        ".          .               .               btn             btn";

    &__img {
        grid-area: img;
    }
    &__Name {
        grid-area: Name;
    }
    &__Description {
        grid-area: Description;
    }
    &__btn {
        grid-area: btn;
    }
}

@mixin projectStyle() {
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(202, 172, 248, 5%);
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    &:hover {
        box-shadow: sassy.$accentColor 0px 0px 10px 0px;
        transform: translateY(-5px);
    }
    &__Name {
        font-family: sassy.$font1;
        font-size: 2rem;
        font-weight: 600;
        align-self: center;
        padding-left: 10%;
        color: sassy.$textColor;
        text-shadow: sassy.$accentColor 0px 0px 10px;
    }
    &__Description {
        font-family: sassy.$font3;
        font-size: 1rem;
        color: sassy.$textColor;
        justify-self: start;
        align-self: start;
        padding-left: 6.5%;
        line-height: 1.5rem;
    }
    &__img {
        width: 80%;
        height: auto;
        place-self: center;
        opacity: 50%;
    }
    &__btn {
        @include buttonStyle();
        margin-left: 25%;
        margin-right: 25%;
    }
}

@mixin projectGridMobile() {
    display: grid;
    grid-template-rows:
        minmax(30px, 1fr) minmax(30px, 1fr) minmax(30px, 1fr)
        minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(10px, auto);
    grid-template-columns: repeat(5, minmax(30px, 1fr));
    grid-template-areas:
        ".       Name            Name            .               ."
        "img        Name            Name            .               ."
        "img        Description     Description     Description     Description"
        "img        Description     Description     Description     Description"
        "img        Description     Description     Description     Description"
        ".          .               .               btn             btn";

    &__img {
        grid-area: img;
    }
    &__Name {
        grid-area: Name;
    }
    &__Description {
        grid-area: Description;
    }
    &__btn {
        grid-area: btn;
    }
}

@mixin projectStyleMobile() {
    border-radius: 5px;
    padding: 1%;
    background-color: rgba(202, 172, 248, 5%);
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    &:hover {
        box-shadow: sassy.$accentColor 0px 0px 10px 0px;
        transform: translateY(-5px);
    }
    &__Name {
        font-family: sassy.$font1;
        font-size: 1.5rem;
        font-weight: 600;
        align-self: center;
        padding-left: 10%;
        color: sassy.$textColor;
        text-shadow: sassy.$accentColor 0px 0px 10px;
    }
    &__Description {
        font-family: sassy.$font3;
        font-size: 0.8rem;
        color: sassy.$textColor;
        justify-self: start;
        align-self: start;
        padding-left: 4%;
        line-height: 1.5rem;
    }
    &__img {
        width: 90%;
        height: auto;
        place-self: center;
        opacity: 50%;
    }
    &__btn {
        @include buttonStyle();
        margin-left: 5%;
        margin-right: 5%;
    }
}
