@use "index" as sassy;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: sassy.$font3;
    color: sassy.$textColor;
    position: relative;
    min-height: 100vh;
    height: auto;
    scroll-behavior: smooth;
    a {
        text-decoration: none;
    }
    ul li {
        list-style: none;
    }
}
//!small screeens
@media (max-width: 900px) {
    .hero {
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("/assets/images/bg-mobile.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &__header {
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid sassy.$accentColor;
            padding-bottom: 1rem;
            backdrop-filter: blur(50px);

            .logo {
                &__name {
                    font-size: 3rem;
                    font-family: sassy.$font2;
                    color: sassy.$accentColor;
                }
            }
            nav {
                ul li a {
                    font-family: sassy.$font1;
                    font-size: 1.2rem;
                    color: sassy.$textColor;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover {
                        color: sassy.$accentColor;
                        font-size: 1.3rem;
                    }
                }
            }
            nav a:target {
                color: sassy.$accentColor;
                font-size: 1.3rem;
                scroll-margin-top: 100vh;
            }

            .contact {
                display: inline-block;
                position: relative;

                button {
                    background-color: sassy.$primaryColor;
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    color: sassy.$accentColor;
                    font-family: sassy.$font3;
                    font-size: 0.7rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                &__links {
                    display: none;
                    position: absolute;
                    top: 80%;
                    left: -1%;

                    background: rgba(0, 0, 0, 0);
                    padding: 0.5rem;
                    z-index: 10;

                    a {
                        display: block;
                        font-family: sassy.$font1;
                        font-size: 0.9rem;
                        color: sassy.$accentColor;
                        cursor: pointer;
                        padding: 0.5rem;
                        background-color: rgba(79, 39, 84, 0.5);
                        backdrop-filter: blur(10px);
                        width: 120px;
                        margin: 5px;
                        border-radius: 10px;
                        transition: all 0.3s;

                        &:hover {
                            color: sassy.$accentColor;
                            font-size: 1.1rem;
                        }
                    }
                }
                &:hover {
                    button {
                        background-color: transparent;
                        border: 1px solid sassy.$accentColor;
                        font-size: 0.9rem;
                    }

                    .contact__links {
                        display: block;
                    }
                }
            }
        }

        &__main {
            #home {
                .hey {
                    font-family: sassy.$font3;
                    font-weight: 890;
                    font-size: 3rem;
                    text-align: start;
                    padding-top: 2rem;
                }
                .intro {
                    font-family: sassy.$font3;
                    font-size: 1rem;
                    text-align: start;
                    padding-left: 0rem;
                    padding-top: 1rem;
                }
                .viewWorks {
                    justify-self: center;
                    button {
                        display: flex;
                        gap: 0rem;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        border-color: transparent;
                        cursor: pointer;
                        a {
                            align-self: auto;
                            font-family: sassy.$font1;
                            font-size: 1.2rem;
                            transition: all 0.3s ease-in-out;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            gap: 0rem;
                            a {
                                color: sassy.$textColor;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
            .coreWork {
                h2 {
                    font-family: sassy.$font2;
                    font-size: 3rem;
                }
                &__project1 {
                    @include sassy.projectStyleMobile();
                }
            }
            .sideQuest {
                h2 {
                    font-family: sassy.$font2;
                    font-size: 3rem;
                }
                &__project1 {
                    @include sassy.projectStyleMobile();
                    &__Name{
                        place-self: center;
                    }
                }
               
            }
            .beyondCode {
                &__head {
                    font-family: sassy.$font1;
                    font-size: 2rem;
                    color: sassy.$textColor;
                }
                &__pfp {
                    justify-self: center;
                    img {
                        border-radius: 50%;
                        width: 30%;
                        height: auto;
                        object-fit: cover;
                        border: 2px solid sassy.$accentColor;
                    }
                }
                &__Content {
                    text-align: center;
                    font-family: sassy.$font3;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .hero {
        background-image: url("/assets/images/bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &__header {
            .logo {
                &__name {
                    font-size: 3rem;
                    font-family: sassy.$font2;
                    color: sassy.$accentColor;
                }
            }
            nav {
                ul li a {
                    font-family: sassy.$font1;
                    font-size: 1.2rem;
                    color: sassy.$textColor;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover {
                        color: sassy.$accentColor;
                        font-size: 1.3rem;
                    }
                }
            }
            nav a:target {
                color: sassy.$accentColor;
                font-size: 1.3rem;
                scroll-margin-top: 100vh;
            }
            .contact {
                display: inline-block;
                position: relative;

                button {
                    background-color: sassy.$primaryColor;
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    color: sassy.$accentColor;
                    font-family: sassy.$font3;
                    font-size: 0.7rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                &__links {
                    display: none;
                    position: absolute;
                    bottom: 100%;
                    left: 10%;
                    //transform: translateX(-50%);
                    background: rgba(0, 0, 0, 0);
                    padding: 0.5rem;
                    z-index: 10;

                    a {
                        display: block;
                        font-family: sassy.$font1;
                        font-size: 0.9rem;
                        color: sassy.$textColor;
                        cursor: pointer;
                        padding: 0.3rem 0;
                        transition: all 0.3s;

                        &:hover {
                            color: sassy.$accentColor;
                            font-size: 1.1rem;
                        }
                    }
                }
                &:hover {
                    button {
                        background-color: transparent;
                        border: 1px solid sassy.$accentColor;
                        font-size: 0.9rem;
                    }

                    .contact__links {
                        display: block;
                    }
                }
            }
        }

        &__main {
            #home {
                .hey {
                    font-family: sassy.$font3;
                    font-weight: 890;
                    font-size: 6rem;
                    text-align: start;
                    padding-top: 2rem;
                }
                .intro {
                    font-family: sassy.$font3;
                    font-size: 1.3rem;
                    text-align: start;
                    padding-left: 2rem;
                    padding-top: 1rem;
                }
                .viewWorks {
                    justify-self: center;
                    button {
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        border-color: transparent;
                        cursor: pointer;
                        a {
                            align-self: auto;
                            font-family: sassy.$font1;
                            font-size: 1.2rem;
                            transition: all 0.3s ease-in-out;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            gap: 0rem;
                            a {
                                color: sassy.$textColor;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
            .coreWork {
                h2 {
                    font-family: sassy.$font2;
                    font-size: 3rem;
                }
                &__project1 {
                    @include sassy.projectStyle();
                }
            }
            .sideQuest {
                h2 {
                    font-family: sassy.$font2;
                    font-size: 3rem;
                }
                &__project1 {
                    @include sassy.projectStyle();
                }
            }
            .beyondCode {
                &__head {
                    font-family: sassy.$font1;
                    font-size: 3rem;
                    color: sassy.$textColor;
                }
                &__pfp {
                    justify-self: center;
                    img {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 2px solid sassy.$accentColor;
                       
                    }
                     margin-bottom: 3rem;
                     margin-top: 3rem;
                }
                &__Content {
                    text-align: center;
                    font-family: sassy.$font3;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
