
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    line-height: 1.5;
    background: #070605; 
    color: #FFF;
}


header {
    display: flex;
    align-self: flex-start;
    flex: 0 0 auto;
    flex-direction: column;
    flex-shrink:0 ;
    justify-content: space-between;
    align-items: left;
    width: 10.625rem;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5vh;
    padding-top: 2vh;

}
.logo {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: .0063rem;
    align-self: stretch;
}
.adithya {
    align-self: stretch;
    color: #FFF;
    font-family: Shizuru;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 200;
    text-transform: uppercase;
    line-height: normal;
}
.tech-and-design {
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: .8125rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.nav ul {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-self: center;
    list-style: none;
    color: #FFF;
    text-align: left;
    font-family: "Share Tech";
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 9.25rem;
    margin-bottom: 9.25rem;
}
.nav ul li{
    margin-bottom: 1.75rem;
}
.nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color .3s;
}
.nav ul li a:hover {
    color: #9500C2;
}
.button {
    color: #FFF;
    font-family: "Share Tech";
    text-decoration: none;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: left;
    align-self: flex-end;
    padding: .625rem 1rem;
    cursor: pointer;
    border-radius: .5125rem;
    background-color: #53003A;
    display: inline-block;
    transition: background-color .3s;
}
.button:hover {
    background-color: #9500C2;
}

header::after {
    content: '';                                
    position: absolute;
    top: 0;
    right: 0;                                  
    width: 3px;                    
    height: 100%;
    background: linear-gradient(180deg, #9500C2 0%, #53003A 100%);

}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self:center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.body {
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    letter-spacing: 0.035rem;
    width: 40rem;
    text-align: left;
    padding-left: 5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
} 
.heading {
    font-family: Inter;
    font-size: 3.575rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: center;
    padding-right: 30rem;
}
.view-works {
    display: flex;
    width: 45rem;
    justify-content: flex-end;
    align-items: center;
}
.view-works-link {
    text-decoration: none;
    transition: color .3s;
    font-family: Inter;
    font-size: 1rem;
    color: #FFF;
    
}
.view-works-link:hover {
    color: #9500C2;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

}

